
<div class="edit_content_head"> 
    <div class="spacer5"></div>
    <strong>Step 1 </strong>
</div>

<div class="forms_container_box">
        
     <div class="titlebox_starts">
         <div class="titlebox_one"> <%= f.label :first_name %> </div>
         <div class="titlebox_two"> <%= f.text_field :first_name %> </div>
     </div>
     <div class="titlebox_starts">
         <div class="titlebox_one"> <%= f.label :last_name %> </div>
         <div class="titlebox_two"> <%= f.text_field :last_name %> </div>
     </div>
     <div class="titlebox_starts">
         <div class="titlebox_one"> <%= f.label :email %> </div>
         <div class="titlebox_two"> <%= f.email_field :email %> </div>
     </div>
     <div class="titlebox_starts">
        <div class="titlebox_one"> <%= f.label :password %></div>
        <div class="titlebox_two"> <%= f.password_field :password %> </div>
     </div>
     <div class="titlebox_starts">
        <div class="titlebox_one"> <%= f.label :password_confirmation %> </div>
        <div class="titlebox_two"> <%= f.password_field :password_confirmation %> </div>
     </div>
     <div class="titlebox_starts">
        <div class="titlebox_one"> User Type </div>
        <div class="titlebox_two">
           <%= select_tag :type, options_for_select(%w(Doctor Patient Nurse Staff), "#{params[:type]}" ) %> 
        </div>
     </div>
     
</div>