<!DOCTYPE html>
<html>
<head>
  <title>Family Practice</title>
  <%= stylesheet_link_tag :all, 'app', 'facebox', 'jquery.ui.all' %>
  <%= javascript_include_tag :defaults, 'jquery.ui.core', 'jquery.ui.datepicker' %>
  <%= csrf_meta_tag %>
</head>
    
<body>
      <% if user_signed_in? %>
          <div id="user-cp"> <!--User Control Panel -->
            <ul>
           <p class="welcome">Welcome <em><%= current_user.email %></em></p>
               <li>&nbsp;<%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
           </ul>
      </div>
      
      <div id="navbar"><!--The Main Navigation -->
           <ul id="navigation">
               <li <% if @select == "closet" %> class="current" <% end %> >
                   <%= link_to "<span>Closer</span>", "/home/index" %>
               </li>              
               <li <% if @select == "timeline" %> class="current" <% end %>>
                  <%= link_to "<span>TimeLine</span>", "/home/index" %>
               </li>            
           </ul>
        <div class="hrule clear"><hr /></div><!-- gives bottom border to the Navigation.-->
      </div> <!--Navbar End-->
      <% end %>

<%= yield %>

</body>
</html>


